<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl" dir="ltr">
<head>
<meta charset="UTF-8">
<title>Moje konto</title>
</head>
<body>
<img src="#"/><h1>Discount</h1>
<a href="#"> Logowanie </a> <a href="#"> Rejestracja </a><a href="/accountPage"> Moje Konto</a> <a href="#"> Dyskonty</a> <a href ="#"> Przedmioty</a><a href="#"> Panel Administracyjny(Ukryty)</a>
</br>
</br>
<a href="/addDiscountPage">Dodaj dyskont</a></br>
<a href="#">Zmień dane dyskontu</a></br>
<a href="#">Zmień dane użytkownika</a></br>
<a href="#">Twoje dyskonty</a></br>
<a href="#">Twoje Przedmioty</a></br>

</body>
</html>