<html xmlns:th="http://www.thymeleaf.org" lang="pl" dir="ltr">
<head>
<title>Menu</title>
</head>
<body>
<img src="#"/><h1>Discount</h1>
<a href="#"> Logowanie </a> <a href="#"> Rejestracja </a><a href="/accountPage"> Moje Konto</a> <a href="#"> Dyskonty</a> <a href ="#"> Przedmioty</a><a href="#"> Panel Administracyjny(Ukryty)</a>
</br>
</br>
	<h2>Miejsce na polecane(później algorytm harmoniczny)</h2>
</br>
</br>
<table style="border: 1px solid black;">
	<td>
		<th>Miasta</th>
		<tr>Czersk</tr>
	</td>
</table>
</br>
</br>
</br>
</br>
<h2>TUTAJ BEDZIE STOPKA CHYBA</h2>
</body>
</html>